#portfolio {
    background: $blue;
    filter {
        text-align:center;
        display: block;
        a {
            color:$white;
            border:1px solid $white;
            display: inline-block;
            text-decoration: none;
            padding:16px 18px;
            font-size:13px;
            margin-right:5px;
            &:last-child {
                margin-right:0;
            }
            &:hover {
                color:$darkBlue;
                border:1px solid $darkBlue;
            }
        }
    }
    .portfolio-container {
        margin:25px 0;

        .item {
            @include span-columns(3);
            @include omega(4n);
            box-sizing: border-box;
            margin-bottom:25px;
            img {
                width:100%;
            }
            .hover-box {
                display:none;
            }
        }
    }
}